@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;900&display=swap');
:root {
    --primary-color: #ec1f55;
    --text-color: #333;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #eee;
}

.player {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
}

.player .icon-pause {
    display: none;
}

.player.playing .icon-pause {
    display: inline-block;
}

.player.playing .icon-play {
    display: none;
}

.dashboard {
    padding: 16px 16px 14px;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 480px;
    background-color: #fff;
    border-bottom: 1px solid #ebebeb;
}

header {
    text-align: center;
    margin-bottom: 10px;
}

header h4 {
    color: var(--primary-color);
    font-size: 12px;
}

header h2 {
    color: var(--text-color);
    font-size: 20px;
}

.cd {
    display: flex;
    margin: auto;
    width: 200px;
}

.cd-thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #333;
    background-size: cover;
    margin: auto;
}

.control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0 10px 0;
}

.control .btn {
    color: #666;
    padding: 18px;
    font-size: 18px;
    cursor: pointer;
}

.control .btn:active {
    transform: scale(0.95);
    opacity: 0.8;
}

.control .btn.active {
    color: var(--primary-color);
}

.control .btn-toggle-play {
    width: 55px;
    height: 55px;
    background-color: var(--primary-color);
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-random.active,
.btn-repeat.active {
    color: var(--primary-color);
}

.progress {
    width: 100%;
    -webkit-appearance: none;
    height: 8px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    overflow: hidden;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    box-shadow: inset 0 0 5px rgb(131, 130, 130);
}

.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 8px;
    background-color: var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: -407px 0 0 400px #120c1c;
    border: 4px solid rgba(255, 8, 0, 0.411);
}

.playlist {
    padding: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 395px;
}

.song {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
    cursor: pointer;
    user-select: none;
}

.song.active {
    background-color: var(--primary-color);
}

.main-song {
    display: flex;
    flex: 1;
}

.main-song:active {
    opacity: 0.8;
    transform: scale(0.98);
}

.song .option i:hover {
    border-radius: 50%;
    background-color: rgb(138, 103, 103);
    box-shadow: 0 0 4px 5px rgb(138, 103, 103);
    color: white;
}

.song .option:active {
    opacity: 0.8;
    transform: scale(0.95);
}

.song.active .title,
.song.active .author,
.song.active .option {
    color: #fff;
}

.song .thumb {
    width: 46px;
    height: 46px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin: 0 8px;
}

.song .body {
    flex: 1;
    padding: 0 16px;
}

.song .title {
    margin-bottom: 4px;
    font-size: 18px;
    color: var(--text-color);
}

.song .author {
    font-size: 12px;
    color: #999;
}

.song .option {
    padding: 16px 8px;
    color: #999;
    font-size: 18px;
}